src/main/app/resolveproviderid-denormalization-csd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <context:property-placeholder location="classpath:encounter-mediator.properties, classpath:encounter-mediator-override.properties"/>
    <flow name="mediation-resolveproviderid-denormalization-csd" doc:name="mediation-resolveproviderid-denormalization-csd">
        <vm:inbound-endpoint exchange-pattern="request-response" path="resolveproviderid-csd" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <logger message="In Resolve Provider ID de-normalization for CSD #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        <logger message="Length: #[groovy: message.getPayloadAsString().length()]" level="INFO" doc:name="Logger"/>
        <response>
	        <logger message="Response: #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
            <choice doc:name="Choice">
                <when expression="message.getInboundProperty('http.status').equals('200') &amp;&amp; (message.getPayloadAsString().length() &gt; 0)" evaluator="groovy">
                    <processor-chain doc:name="Processor Chain">
                        <custom-transformer class="org.jembi.rhea.transformers.CSDResolveProviderIDResponseTransformer" doc:name="Process Response"/>
                    </processor-chain>
                </when>
                <otherwise>
                    <processor-chain doc:name="Processor Chain">
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="false"/>
                        </message-properties-transformer>
                    </processor-chain>
                </otherwise>
            </choice>
            <logger message="Exiting Resolve Provider ID de-normalization for CSD #[groovy: message.toString()]" level="INFO" doc:name="Logger"/>
        </response>
        <custom-transformer class="org.jembi.rhea.transformers.CSDResolveProviderIDOffRampTransformer" doc:name="Offramp-Transformer">
            <spring:property name="assigningAuthorityOIDS" value="${pr.csd.assigningAuthorityOIDS}"/>
        </custom-transformer>
        <http:outbound-endpoint exchange-pattern="request-response" host="${pr.host}" port="${pr.port}" path="careServicesRequest" method="GET" doc:name="HTTP" mimeType="text/xml"/>
    </flow>
</mule>