src/main/app/validatefacility-denormalization-csd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <context:property-placeholder location="classpath:encounter-mediator.properties, classpath:encounter-mediator-override.properties"/>
    <flow name="validatetfacility-denormalization-csdFlow" doc:name="validatetfacility-denormalization-csdFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="validateFacility-csd" responseTimeout="10000" mimeType="text/plain" doc:name="VM"/>
        <logger message="In validateFacility de-normalization for CSD" level="INFO" doc:name="Logger"/>
        <echo-component doc:name="Echo"/>
        <response>
            <logger message="Response recieved from CSD InfoManager: #[groovy: message.toString();]" level="INFO" doc:name="Logger"/>
            <choice doc:name="Choice">
                <when expression="message.getInboundProperty('http.status').equals('200') &amp;&amp; (message.getPayloadAsString().length() &gt; 0)" evaluator="groovy">
                    <processor-chain doc:name="Processor Chain">
			            <choice doc:name="Choice">
			                <when expression="message.getPayloadAsString().contains('&lt;facility&gt;')" evaluator="groovy">
			                    <processor-chain doc:name="Processor Chain">
			                        <message-properties-transformer doc:name="Set transaction success">
			                            <add-message-property key="success" value="true"/>
			                        </message-properties-transformer>
			                    </processor-chain>
			                </when>
			                <otherwise>
			                    <processor-chain doc:name="Processor Chain">
			                        <message-properties-transformer doc:name="Set transaction success">
			                            <add-message-property key="success" value="false"/>
			                        </message-properties-transformer>
			                    </processor-chain>
			                </otherwise>
			            </choice>
                    </processor-chain>
                </when>
                <otherwise>
                    <processor-chain doc:name="Processor Chain">
                        <message-properties-transformer doc:name="Set transaction success">
                            <add-message-property key="success" value="false"/>
                        </message-properties-transformer>
                    </processor-chain>
                </otherwise>
            </choice>
            <logger message="Exiting validateFacility de-normalization for CSD" level="INFO" doc:name="Logger"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="${fr.host}" port="${fr.port}" path="CSD/careServicesRequest" method="GET" doc:name="HTTP" mimeType="text/xml"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <processor-chain doc:name="Processor Chain">
                <message-properties-transformer doc:name="Set transaction success">
                    <add-message-property key="success" value="false"/>
                </message-properties-transformer>
            </processor-chain>
        </catch-exception-strategy>
    </flow>
</mule>